<!--<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ student.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="removeScanned()" *ngIf="isScanned"><ion-icon name="star"></ion-icon></button>
      <button ion-button icon-only (click)="addScanned()" *ngIf="!isScanned"><ion-icon name="star-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      {{ student.student_id }}
    </ion-card-content>
  </ion-card>
</ion-content>-->
